* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --primary: #1b6b93;
  box-sizing: border-box;
  width: 100vw;
  margin: 0;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
}

h1 {
  text-align: center;
  padding: 16px;
  @media (max-width: 700px) {
    font-size: 20px;
  }
}
